Checks: '-*,clang-analyzer-*,modernize-*,performance-*,bugprone-*,portability-*,cppcoreguidelines-*,misc-*,readability-*,google-*,concurrency-*,-bugprone-easily-swappable-parameters,-readability-identifier-length,-readability-avoid-const-params-in-decls,-google-explicit-constructor'
CheckOptions:
    - key: readability-function-cognitive-complexity.IgnoreMacros
      value: true
    - key: readability-magic-numbers.IgnoredFloatingPointValues
      value: 1.0,100.0,0.5,2.0
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: true