---
Checks: >-
  -*,

  clang-analyzer-*,

  modernize-*,

  performance-*,

  bugprone-*,
  -bugprone-easily-swappable-parameters,

  portability-*,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,# It's an alias for readability-magic-numbers,

  misc-*,

  readability-*,
  -readability-identifier-length,
  -readability-avoid-const-params-in-decls,
  -readability-math-missing-parentheses,

  google-*,
  -google-explicit-constructor,

  concurrency-*
CheckOptions:
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: "1.0;0.5;2.0;"
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
