# CMake build directory
*build*

# Clangd server cache
.cache/

# Specify "clangd.arguments": ["--query-driver=/usr/bin/g++"] in settings.json
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Jetbrains IDEs
.idea/

# Rendered images
*.ppm